<hr>
<h4>Egg: {{ egg }}</h4>
<button class="btn btn-primary" (click)="addEgg()" style="margin-right: 10px"> Add Egg</button>

<hr>
<h4>Rice: {{ rice }}</h4>
<button class="btn btn-primary" (click)="addRice()" style="margin-right: 10px"> Add Rice</button>

<hr>
<h4>Chicken: {{ chicken }}</h4>
<button class="btn btn-primary" (click)="addChicken()" style="margin-right: 10px"> Add Chicken</button>

<hr>
<h4>Mushroom: {{ mushroom }}</h4>
<button class="btn btn-primary" (click)="addMushroom()" style="margin-right: 10px"> Add Mushroom</button>

<div *ngIf="counter==0" class="informBoxBoarder"> You cannot add more </div>

<hr>
<div>
<button class="btn btn-primary" (click)="resetCounter()" style="margin-right: 10px"> Reset</button>
  <button class="btn btn-primary" (click)="checkDishes()" style="margin-right: 10px"> Cook!</button>
</div>

<div *ngIf="finish && dishes!=''" class="informBoxBoarder"> You get {{ dishes }}!</div>
<div *ngIf="finish && dishes==''" class="informBoxBoarder"> Sorry!</div>
